@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto&display=swap');

#content {
    max-width: 1600px; 
    margin: 0 auto;
 }
 header {
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
 nav a{
    text-align: center;
 }
 #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/2;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/3;
}
 #hero-msg h1{
    text-align: center;
    font-size: 2em;
 }
 #hero-msg h4{
    text-align: center;
 }
 .msg p{
    font-size: .8em;
    line-height: 1.5em
 } 
.msg p{
    padding-bottom: 15px;
}  
 .button-box{
    text-align: center;
 }
 main section{
    text-align: center;
 }
 main section img {
    box-sizing: border-box;
}
 .card-img {
    border: 10px solid lightblue;  
 }
 .rivers-card{
    margin: 200px 0;
 }
 .camping-card{
    margin: 200px 0;
 }
 .rapids-card{
    margin: 200px 0;
 }
#backgroun{
    height: 725px;
}
body {
    background-color:white; 
    margin: 0;
    padding: 0;
    font-family: roboto,arial, sans-serif;
}
h2 {
    margin: 0;
    font-family:"Inter Tight",arial, sans-serif;
}
header {
    background-color:lightblue;
    padding: 1rem 2rem;
    }
nav a:hover {
    background-color:black;
}
nav {
    padding: 1rem;
}
nav a {
    color: black;
    margin: 2em;
    padding: 35px;
}
nav a:hover{
    background-color: hsl(0, 1%, 25%);
    color: white;
}
.book{
    background-color:black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover{
    color: black;
}
.join:hover{
    background-color:blue
}
.joint:hover{
    border-radius: 5px;
}
#background{
    background-color: bisque;
}
.msg{
    background-color: black;
    padding: 35px; 
}
.home-title{
    background-color:white;
    margin-top: 10px;
}
h4{
    background-color: #fcfbfb;
}
.book{
    background-color: lightpink;
}
.join{
    background-color: red;
}
.book:hover{
    background-color:red;
}
.join:hover{
    background-color: blueviolet;
}
.msg {
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    line-height: 1.5em
}
footer{
    background-color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    background-color: black}
footer a:hover{
    background-color: white;
}
.logo class{
    width: 80px;
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding: 10px;
}
#hero-img{
    width: 100%;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  
.book{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; 
}
.join{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; 
}
footer a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; 
}
.social img{
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
    color: white;
}    
footer p a:hover {
    text-decoration: underline;
} 
