@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto&display=swap');

#content {
    max-width: 1600px; 
    margin: 0 auto;
    text-align: center;
 }
 header {
    display: grid;
    grid-template-columns: 150px auto;
    /* align-items: center; */
    /* /* justify-content: center;  */
    text-align: left;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
 nav a{
    text-align: center;
 }
 #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    margin-top: -200px;
}
#hero-box img{
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 2/2;
    margin-top: 100px;
}
 #hero-msg h1{
    text-align: center;
    font-size: 2em;
 }
 #hero-msg h4{
    text-align: center;
    font-size: 2rem;
 }
 .msg p{
    font-size: .8em;
    line-height: 1.5em
 } 
 .logo{
    width: 8rem;
 }
.msg p{
    padding-bottom: 15px;
}  
 .button-box{
    text-align: center;
 }
 .home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 5rem;
 }
 .card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
    margin-bottom: 5rem;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
    margin-bottom: 5rem;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
    margin-bottom: 5rem;
}
#background{
    grid-column: 1/11;
    grid-row: 4/13;
    position: relative;
    height: 75vh;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    position: relative;
    z-index: 300;
    margin: 2rem;
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    z-index: 500;
    position: relative;
}
 main section img {
    box-sizing: border-box;
}
 .card-img {
    border: 10px solid lightblue; 
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
 }
 .card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
 .rivers-card{
    margin: 200px 0;
 }
 .camping-card{
    margin: 200px 0;
 }
 .rapids-card{
    margin: 200px 0;
 }
body {
    background-color:white; 
    margin: 0;
    padding: 0;
    font-family: roboto,arial, sans-serif;
}
h2 {
    margin: 0;
    font-family:"Inter Tight",arial, sans-serif;
}
header {
    padding: 1rem 2rem;
    }
nav a:hover {
    background-color:black;
}
nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a {
    color: black;
    margin: 2em;
    padding: 35px;
}
nav a:hover{
    background-color: hsl(0, 1%, 25%);
    color: white;
}
.book{
    background-color:black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover{
    color: black;
}
.join:hover{
    background-color:blue
}
.joint:hover{
    border-radius: 5px;
}
#background{
    background-color: bisque;
}
.msg{
    background-color: black;
    padding: 35px; 
}
.home-title{
    margin-top: 10px;
    text-align: center;
    padding: 1rem;
    border-radius: 5rem;
}
.book{
    background-color: lightpink;
}
.join{
    background-color: red;
}
.book:hover{
    background-color:red;
}
.join:hover{
    background-color: blueviolet;
}
.msg {
    color: white;
    padding: 1rem;
    margin: 2rem 0;
    line-height: 1.5em
}
footer{
    background-color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    background-color: black}
footer a:hover{
    background-color: white;
}
.logo class{
    width: 80px;
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding: 10px;
}
#hero-img{
    width: 100%;
}
nav a {
    color: #fcfbfb;
    text-decoration: none;
}  
.book{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; 
}
.join{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; 
}
footer a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; 
}
.social img{
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
    color: white;
}    
footer p a:hover {
    text-decoration: underline;
} 
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}


/* page 2 */


.page2-header {
    background-color: #6f7364;
}
.container-1{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ;
}
.box-1{
    width: 35%;
    /* padding: 100px; */
    border: 1px solid gray;
}
.box-1 img {
    width: 100%;
    height: 100%;
}
.box-1 h2{
    color: tomato;
    padding: 10px;
}
.box-2{
    width: 40%;
    font-size: 11px;
    word-spacing: 2px;
}
.box-2 h2 {
    color: tomato;
    padding: 10px;
}

.mar-o {
   margin-top: 0; 
}
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
