@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto&display=swap');

#content{ 
    width: 100%;
    margin: 0 auto;
    /* border: solid gray; */
}
header {
    /* border: 2px solid green; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: turquoise;
}
header a img{
    margin-left: 100px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
header a img :hover{
    opacity: .6;
    transform: scale(1.1);
}
body{ font-family: "Inter Tight", Arial, Helvetica, sans-serif, Arial, sans-serif;
}
h4{
    font-family: Roboto, Arial, sans-serif;}
nav{
    /* border: 1px solid tomato; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%
}
nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    margin: 2em;
    padding: 20px;
    border: 2px;
    background-color: white;
    border-radius: 10px;
}
@media screen and (max-width: 500px) {
    nav a {
        margin: 0;
    }
}
nav a:hover{
   transform: skew(10deg); 
   transition: all .5s;
}
#develop{
    width: 100%;
    height: 50%;
    border: 1px;
    /* align-items: stretch; */
    /* justify-content: stretch; */
    display: flex;
}

#it-img {
    width: 50%;
    height: 50vw;
    background-image: url(./ourclient.jpg);
    background-size: cover;
    /* object-fit: cover; */
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10px; */
    margin: auto;
}
#it-img1 {
    width: 50%;
    height: 50vw;
    background-image: url(./ourclient2.jpg);
    background-size: cover;
    /* object-fit: cover; */
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10px; */
    margin: auto;
}
@media screen and (max-width: 500px) {
    #it-img {
        width: 100%;
    }
}
#developer-box{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}
@media screen and (max-width: 500px) {
    #developer-box {
        display: block;
    }
}
#develop-box{
    width: 50%;
}
#develop-box2{
    width: 50%;
}
img{
    width: 100%;
    height: 100%;
}
#cyber-msg{
    border: 2px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    height: fit-content;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: 400;
}

#foot{
    border: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    color: white; 
    background-color: turquoise;
}
footer a{
    text-decoration: none;
    border: 4px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.social{
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
@media screen and (max-width: 900px) {
/* page 2 */

#developer{
    width: 100%;
    height: 50%;
    border: 1px;
    align-content: center;
}
#cyber-mesge{
    border: 2px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    height: fit-content;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: 400;
}
#cyber-mesage2{
    border: 2px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    height: fit-content;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: 400;
}
#developer-box{
    width: 100%;
    height: fit-content;
    padding: 10px;
    border: 4px;
}
#me-message{
    border: 2px;
    padding: 10px;
    text-align: center;
    align-items: center;
    /* justify-content: space-evenly;
    width: 60%;
    margin: auto;
    height: fit-content;
    text-justify: distribute;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: 400; */
}
}
#devp{
    padding: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin: 20px;
    text-align: center;
}
#develope-box{
    justify-content: center;
}
.me-title{
    justify-content: center;
    border: 50px solid white; 
    padding: 50px;
}
.statement{
    justify-content: center;
    border: 50px solid white;
    padding: 50px;
}
